ApplicationService/Web References/ApplicationService/ApplicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="dse.webservices" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="dse.webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="dse.webservices">
      <s:element name="apply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="regNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transacNum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="degreeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="applyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applyResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getApplications">
        <s:complexType />
      </s:element>
      <s:element name="getApplicationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getApplicationsResult" type="tns:ArrayOfApplication" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfApplication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Application" nillable="true" type="tns:Application" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="regNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="degreeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="approved" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="makeDelivered">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="makeDeliveredResponse">
        <s:complexType />
      </s:element>
      <s:element name="long" type="s:long" />
      <s:element name="ArrayOfApplication" nillable="true" type="tns:ArrayOfApplication" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="applySoapIn">
    <wsdl:part name="parameters" element="tns:apply" />
  </wsdl:message>
  <wsdl:message name="applySoapOut">
    <wsdl:part name="parameters" element="tns:applyResponse" />
  </wsdl:message>
  <wsdl:message name="getApplicationsSoapIn">
    <wsdl:part name="parameters" element="tns:getApplications" />
  </wsdl:message>
  <wsdl:message name="getApplicationsSoapOut">
    <wsdl:part name="parameters" element="tns:getApplicationsResponse" />
  </wsdl:message>
  <wsdl:message name="makeDeliveredSoapIn">
    <wsdl:part name="parameters" element="tns:makeDelivered" />
  </wsdl:message>
  <wsdl:message name="makeDeliveredSoapOut">
    <wsdl:part name="parameters" element="tns:makeDeliveredResponse" />
  </wsdl:message>
  <wsdl:message name="applyHttpGetIn">
    <wsdl:part name="regNum" type="s:string" />
    <wsdl:part name="transacNum" type="s:string" />
    <wsdl:part name="degreeId" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="applyHttpGetOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="getApplicationsHttpGetIn" />
  <wsdl:message name="getApplicationsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfApplication" />
  </wsdl:message>
  <wsdl:message name="makeDeliveredHttpGetIn">
    <wsdl:part name="appId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="makeDeliveredHttpGetOut" />
  <wsdl:message name="applyHttpPostIn">
    <wsdl:part name="regNum" type="s:string" />
    <wsdl:part name="transacNum" type="s:string" />
    <wsdl:part name="degreeId" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="applyHttpPostOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="getApplicationsHttpPostIn" />
  <wsdl:message name="getApplicationsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfApplication" />
  </wsdl:message>
  <wsdl:message name="makeDeliveredHttpPostIn">
    <wsdl:part name="appId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="makeDeliveredHttpPostOut" />
  <wsdl:portType name="ApplicationServiceSoap">
    <wsdl:operation name="apply">
      <wsdl:input message="tns:applySoapIn" />
      <wsdl:output message="tns:applySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getApplications">
      <wsdl:input message="tns:getApplicationsSoapIn" />
      <wsdl:output message="tns:getApplicationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="makeDelivered">
      <wsdl:input message="tns:makeDeliveredSoapIn" />
      <wsdl:output message="tns:makeDeliveredSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ApplicationServiceHttpGet">
    <wsdl:operation name="apply">
      <wsdl:input message="tns:applyHttpGetIn" />
      <wsdl:output message="tns:applyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getApplications">
      <wsdl:input message="tns:getApplicationsHttpGetIn" />
      <wsdl:output message="tns:getApplicationsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="makeDelivered">
      <wsdl:input message="tns:makeDeliveredHttpGetIn" />
      <wsdl:output message="tns:makeDeliveredHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ApplicationServiceHttpPost">
    <wsdl:operation name="apply">
      <wsdl:input message="tns:applyHttpPostIn" />
      <wsdl:output message="tns:applyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getApplications">
      <wsdl:input message="tns:getApplicationsHttpPostIn" />
      <wsdl:output message="tns:getApplicationsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="makeDelivered">
      <wsdl:input message="tns:makeDeliveredHttpPostIn" />
      <wsdl:output message="tns:makeDeliveredHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApplicationServiceSoap" type="tns:ApplicationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="apply">
      <soap:operation soapAction="dse.webservices/apply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplications">
      <soap:operation soapAction="dse.webservices/getApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeDelivered">
      <soap:operation soapAction="dse.webservices/makeDelivered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApplicationServiceSoap12" type="tns:ApplicationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="apply">
      <soap12:operation soapAction="dse.webservices/apply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplications">
      <soap12:operation soapAction="dse.webservices/getApplications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeDelivered">
      <soap12:operation soapAction="dse.webservices/makeDelivered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApplicationServiceHttpGet" type="tns:ApplicationServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="apply">
      <http:operation location="/apply" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplications">
      <http:operation location="/getApplications" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeDelivered">
      <http:operation location="/makeDelivered" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApplicationServiceHttpPost" type="tns:ApplicationServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="apply">
      <http:operation location="/apply" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplications">
      <http:operation location="/getApplications" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeDelivered">
      <http:operation location="/makeDelivered" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationService">
    <wsdl:port name="ApplicationServiceSoap" binding="tns:ApplicationServiceSoap">
      <soap:address location="http://127.0.0.1:8060/ApplicationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ApplicationServiceSoap12" binding="tns:ApplicationServiceSoap12">
      <soap12:address location="http://127.0.0.1:8060/ApplicationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ApplicationServiceHttpGet" binding="tns:ApplicationServiceHttpGet">
      <http:address location="http://127.0.0.1:8060/ApplicationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ApplicationServiceHttpPost" binding="tns:ApplicationServiceHttpPost">
      <http:address location="http://127.0.0.1:8060/ApplicationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>