TestimonialWebApp/Web References/StudentVerifierService/StudentVerifierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="dse.webservices" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="dse.webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="dse.webservices">
      <s:element name="getStudentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="regNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStudentInfoResult" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="regNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fatherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="motherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="session" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="instOrDept" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="verifyStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="regNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyStudentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Student" nillable="true" type="tns:Student" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getStudentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getStudentInfo" />
  </wsdl:message>
  <wsdl:message name="getStudentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getStudentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="verifyStudentSoapIn">
    <wsdl:part name="parameters" element="tns:verifyStudent" />
  </wsdl:message>
  <wsdl:message name="verifyStudentSoapOut">
    <wsdl:part name="parameters" element="tns:verifyStudentResponse" />
  </wsdl:message>
  <wsdl:message name="getStudentInfoHttpGetIn">
    <wsdl:part name="regNum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getStudentInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:Student" />
  </wsdl:message>
  <wsdl:message name="verifyStudentHttpGetIn">
    <wsdl:part name="regNum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyStudentHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="getStudentInfoHttpPostIn">
    <wsdl:part name="regNum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getStudentInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:Student" />
  </wsdl:message>
  <wsdl:message name="verifyStudentHttpPostIn">
    <wsdl:part name="regNum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyStudentHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="StudentVerifierServiceSoap">
    <wsdl:operation name="getStudentInfo">
      <wsdl:input message="tns:getStudentInfoSoapIn" />
      <wsdl:output message="tns:getStudentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <wsdl:input message="tns:verifyStudentSoapIn" />
      <wsdl:output message="tns:verifyStudentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StudentVerifierServiceHttpGet">
    <wsdl:operation name="getStudentInfo">
      <wsdl:input message="tns:getStudentInfoHttpGetIn" />
      <wsdl:output message="tns:getStudentInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <wsdl:input message="tns:verifyStudentHttpGetIn" />
      <wsdl:output message="tns:verifyStudentHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StudentVerifierServiceHttpPost">
    <wsdl:operation name="getStudentInfo">
      <wsdl:input message="tns:getStudentInfoHttpPostIn" />
      <wsdl:output message="tns:getStudentInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <wsdl:input message="tns:verifyStudentHttpPostIn" />
      <wsdl:output message="tns:verifyStudentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentVerifierServiceSoap" type="tns:StudentVerifierServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudentInfo">
      <soap:operation soapAction="dse.webservices/getStudentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <soap:operation soapAction="dse.webservices/verifyStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentVerifierServiceSoap12" type="tns:StudentVerifierServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudentInfo">
      <soap12:operation soapAction="dse.webservices/getStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <soap12:operation soapAction="dse.webservices/verifyStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentVerifierServiceHttpGet" type="tns:StudentVerifierServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getStudentInfo">
      <http:operation location="/getStudentInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <http:operation location="/verifyStudent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentVerifierServiceHttpPost" type="tns:StudentVerifierServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getStudentInfo">
      <http:operation location="/getStudentInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyStudent">
      <http:operation location="/verifyStudent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentVerifierService">
    <wsdl:port name="StudentVerifierServiceSoap" binding="tns:StudentVerifierServiceSoap">
      <soap:address location="http://127.0.0.1:8020/StudentVerifierService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentVerifierServiceSoap12" binding="tns:StudentVerifierServiceSoap12">
      <soap12:address location="http://127.0.0.1:8020/StudentVerifierService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentVerifierServiceHttpGet" binding="tns:StudentVerifierServiceHttpGet">
      <http:address location="http://127.0.0.1:8020/StudentVerifierService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentVerifierServiceHttpPost" binding="tns:StudentVerifierServiceHttpPost">
      <http:address location="http://127.0.0.1:8020/StudentVerifierService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>